@charset "UTF-8";

body {
	background-color: rgb(115, 165, 249);
	text-align: center;
}

.log {
	margin-left: 16px;
}

.bottun {
	margin-top: 20px;
}

.side {
	display: inline-flex;
	margin-top: 3px;
}

form {
	margin: 5px 5px;
}

dl {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	text-align: left;
	margin: 5px 0px;
}

dl dt {
	width: 100px;
}

dl dd {
	width: 100px;
	margin-left: 0px;
}

.first {
	font-weight: bold;
	background-color: rgb(197, 219, 255);
}

.bcolor {
	background-color: rgb(0, 0, 242);
	border-radius: 5px;
}

.re {
	cursor: pointer;
}

.rcolor {
	background-color: rgb(255, 128, 192);
	border-radius: 5px;
}

.ncolor {
	background-color: rgb(128, 128, 128);
	border-radius: 5px;
}

.error {
	color: red;
}

.info {
	font-size: 14px;
}

.info input[type="submit"] {
	width: 20px;
	height: 16px;
	margin: 0 0.1rem 0 0.5rem;
}

.cursor {
	cursor: pointer;
}

.second {
	background-color: rgb(255, 255, 225);
}

.calum {
	font-size: 13px;
}

table {
	border-collapse: collapse;
}

table,
th,
td {
	border: 1px solid rgb(0, 0, 32);
}

.calsize {
	width: 50px;
}